:root {
    --primary-color: #b1bcc0;
    --secondary-color: #15cd64;
    --tertiary-color: #ad0002;
    --quaternary-color: #00247c;
    --quinary-color: #c6b12c;
}

.font {
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
}

body {
    background-color: var(--primary-color);
    background-image: url('./assets/images/background-image.png');
    background-size: cover;
    height: 100vh;
}

/*modal designs*/
.addGameModal .modal-body {
    background-color:  var(--quaternary-color);
}

.game-label {
    color: var(--primary-color);
}
.game-modal-header {
    height: 5rem;
    background-color: var(--quinary-color);
}

.card {
    margin: 10px;
    display: flex;
    border: solid 2px var(--quaternary-color);
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px black;
}

.card-header {
    color: var(--quaternary-color);
}
.profile-link {
    text-decoration: none;
    color: var(--primary-color);
}
.card a {
    text-decoration: none;
    padding-bottom: 20px;
}

.card-title {
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
    background-color: var(--quinary-color);
    color: var(--quaternary-color);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
.card-body{
    background-color: var(--quaternary-color);
    border-radius: 5px;
}
.card-body p {
    color: var(--primary-color)
}
.card-text {
    text-decoration: none;
    color: var(--primary-color);
}

.comments {
    color: var(--primary-color);
    text-align: center;
}
.comment-header{
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
    color: var(--quaternary-color);
}

.submit-button {
    margin-right: 1rem;
    margin-top: 1rem;
}

.signup-cancel-button {
    margin-top: 1rem;
}
.modal-content {
    box-shadow: 5px 5px 10px black;

}
.modal-header {
    color: var(--primary-color);
    background-color: var(--quaternary-color);
}

div.modal-footer {
    background-color: var(--secondary-color);
} 

.login-modal {
    background-color: var(--quinary-color);
}

.login-button {
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #00247c;
}

.login-cancel-button {
    margin-top: 1rem;
}

.signup-modal-body {
    background-color: var(--quinary-color);
}

.nav-title h1 {
    color: var(--primary-color);
    text-decoration: none;
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
}

.nav-title h1:hover {
    color: #888;
}

.nav-link {
    text-decoration: none;
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
    color: var(--primary-color);
}

.nav-background {
    background-color: var(--tertiary-color);
}

#main-footer {
    background-color: var(--secondary-color);
    height: 4rem;
}

.footer-div {
    margin-top: 10px;
    padding-top: 1rem;
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
}