:root {
    --primary-color: #b1bcc0;
    --secondary-color: #15cd64;
    --tertiary-color: #ad0002;
    --quaternary-color: #00247c;
    --quinary-color: #c6b12c;
}

.font {
    font-family: Luckiest Guy;
}

/*modal designs*/
.addGameModal {
    background-color:  var(--quaternary-color);
}

.game-label {
    color: var(--primary-color);
}
.game-modal-header {
    height: 5rem;
}

.submit-button {
    margin-right: 1rem;
    margin-top: 1rem;
}

.signup-cancel-button {
    margin-top: 1rem;
}

.login-modal {
    background-color: var(--primary-color);
}

.login-button {
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #00247c;
}

.login-cancel-button {
    margin-top: 1rem;
}

.signup-modal-body {
    background-color: var(--quinary-color);
}

.nav-title {
    color: var(--primary-color);
    text-decoration: none;
    font-family: Luckiest Guy;
}

.nav-link {
    text-decoration: none;
    font-family: Luckiest Guy;
    color: var(--primary-color);
}

.nav-background {
    background-color: var(--tertiary-color);
}

#main-footer {
    background-color: var(--secondary-color);
    height: 4rem;
}

.footer-div {
    padding-top: 1rem;
    font-family: Luckiest Guy;
}