:root {
    --primary-color: #f8f4f9;
    --secondary-color: #419d78;
    --tertiary-color: #cc2936;
    --quaternary-color: #3066be;
    --quinary-color: #F7F052;
}

#root {
    background-color: #b1bcc0;
    padding-bottom: 4rem;
    min-height: 100vh;
    height: 100%;
}

.font {
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
}

main {
  background-color: #b1bcc0;
  padding-bottom: 4rem;
  padding-top: 2rem;
  margin-top: 0rem;
  height: 100%;
}

div.background-image {
background-image: url(../src/assets/images/tryagain.png);
background-repeat: no-repeat;
background-size: cover;
height: 15rem;
}

.opening-text {
    color: var(--primary-color)
}

.login:hover {
    cursor: pointer;
}

/*modal designs*/
.addGameModal {
    background-color:  #b1bcc0;
}

.game-label {
    color: var(--quaternary-color);
}
.game-modal-header {
    height: 5rem;
    background-color: var(--quinary-color);
}

.pill a {
    color: #b1bcc0;
}

.pill a:hover {
    color: #888;
}

.add-game-button {
    height: 4rem;
    width: 50%;
    margin-top: 1rem;
}

.button-div {
    text-align: center;
    margin-bottom: 1rem;
}

.card {
    margin: 10px;
    display: flex;
    border: solid 2px var(--quaternary-color);
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px black;
}

.single-game {
    margin-bottom: 4rem;
}

div.card {
    background-color: #b1bcc0;
}

div.card-header {
    background-color: var(--quinary-color);
}

.card-body {
    background-color: var(--quaternary-color);
    border-radius: 5px;
}
.card-body p {
    color: var(--primary-color)
}

.profile-link {
    text-decoration: none;
    color: var(--primary-color);
}

.profile-link:hover {
    color: #666;
}

li.list-group-item {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
}
.card a {
    text-decoration: none;
    padding-bottom: 20px;
}

.card-title {
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
    background-color: var(--quinary-color);
    color: var(--quaternary-color);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.card-text {
    text-decoration: none;
    color: var(--primary-color);
}

.comments {
    color: var(--primary-color);
    text-align: center;
}
.comment-header{
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
    color: var(--quaternary-color);
}

.form-input {
    border-radius: 5px;
}

.submit-button {
    margin-right: 1rem;
    margin-top: 1rem;
}

.signup-cancel-button {
    margin-top: 1rem;
}
.modal-content {
    box-shadow: 5px 5px 10px black;

}
.modal-header {
    color: var(--primary-color);
    background-color: var(--quaternary-color);
}

.login-modal {
    background-color: var(--quinary-color);
}

.login-button {
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #00247c;
}

div.modal-footer {
    background-color: var(--quinary-color)
}

.login-cancel-button {
    margin-top: 1rem;
}

.signup-modal-body {
    background-color: var(--quinary-color);
}

.nav-title h1 {
    color: var(--primary-color);
    text-decoration: none;
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
}

.nav-title h1:hover {
    color: #888;
}

.nav-link {
    text-decoration: none;
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
    color: var(--primary-color);
}

.nav-background {
    background-color: var(--tertiary-color);
}

#main-footer {
    background-color: var(--secondary-color);
    height: 4rem;
    bottom: 0;
    position: fixed;
    width: 100vw;
}

.footer-div {
    margin-top: 10px;
    padding-top: 1rem;
    font-family: Luckiest Guy, 'Arial Black', sans-serif;
}

/* media query */
@media screen and (max-width: 576px) {
    div.background-image {
        height: 10rem;
    }
}